<!--The content below is only a placeholder and can be replaced.-->
<div class="container-flex">
  <div class="center">
    <h1>Welcome to {{ title }}</h1>
    <h3>{{currentFocus}}</h3>
    <br>
    <ul class="card-block center">
       <li *ngFor="let currentRecipe of recipes"><div class="card card-block center bg-warning recipeTitle">Title: {{currentRecipe.title}}</div>Ingredients: {{currentRecipe.ingredients}} <br>Directions: {{currentRecipe.directions}}<br><button class="btn btn-info" (click)="editTask()">Edit</button><hr></li>
     </ul>
  </div>
</div>
